.card_container {
	background-color: white;
	width: 100%;
	max-width: 750px;
	margin: auto;
	padding: 20px;
	border-radius: 7px;

	list-style: none;
}

.card_container li p {
	text-align: default;
	font-size: 24px;
	display: inline;
}

.user_details {
	text-align: justify;
	padding: 10px;
	padding-top: 15px;
	border-bottom: 1px solid black;
}

.user_details:last-child {
	border-bottom: none;
}

.user_contact {
	float:right;
}
